
.principal{
    height: 80vh;
    display: flex;
    justify-content: center;
}

.container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    h2{
      justify-content: center;
      text-align: center;
    }
}


form{
  border: solid 2px #005695;
    border-radius: 15px;
    height: 60vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    div{
        
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #005695;
    }
    input{
      border: solid #005695; 
      width: 22vw; 
      height: 5vh;
      border-radius: 10px;
      outline: none;
      padding-left: 20px;
      &::placeholder{
        color: black;
      }
    }
}

.doar{
  background-color: #005695;
  width: 10vw;
  height: 6vh;
  padding-left: 0;
  color: white;
  font-size: 17px;
}

input:nth-child(6){
   width: 40%;
   height: 6vh;
   padding-left: 0;
   background-color: #005695;
   color: white;
   cursor: pointer;
   font-size: 18px;
}

@media (max-width: 1120px){
  form {
      width: 40vw;
      height: 55vh;
  }
  .doar {
      width: 12vw;
      font-size: 16px;
  }
  input {
      width: 18vw;
  }
}

@media (max-width: 760px){
  .container{
    h2{
      font-size: 20px;
    }
    
  }
  .principal{
    height: 60vh;
  }
    form {
      width: 310px;
      height: auto;
  }
  .doar {
      width: 15vw;
      font-size: 15px;
  }
  input {
      width: 15vw;
  }
}

@media (max-width: 450px){
  form {
      width: 310px;
      height: auto;
      
  }
  .doar {
      width: 20vw;
      font-size: 14px;
  }
  input {
      width: 80vw;
  }
}