




header{

    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(0,27,47,1), rgba(0, 86, 149, 1)  );
    
}

.boxLogo {
    width: 23vw;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    height: 15vh;
    color: white;
  }
  
  .boxLogo img {
    height: 60%; 
    width: auto; 
  }
  
  h1 {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin: 0; 
    line-height: 1; 
  }
  

.boxMenu{
    width: 35vw;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        a{
            color: white;
        }
    }

}

.boxInput{
    width: 17vw;
    height: 6vh;
    margin-right:20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    border:solid 2px;
    justify-content: space-around;
    color: white;
    input{
     width: 12vw;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    &::placeholder{
        color: white;
    }
    
    }
}
@media(max-width: 1120px){
    
    .boxLogo{
       width: 25vw;
        h1{
            font-size: 1.9vw;
        }
        img{
            width: 40%;
        }
    }
    .boxMenu{
       ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            a{
                color: white;
            }
       } 
    }
}
@media(max-width: 743px){
    .boxLogo{
        h1{
            font-size: 2vw;
        }
    }
}
@media (max-width: 380px) {
    .boxMenu{
        ul{
            font-size: 18px;
        }
    }
}

