




.boxDoados{
    height: 70vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxcard{
   
    width: 85vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    article{
     border:  solid 2px #005695;
     width: 13vw;
     height: 32vh;
     display: flex;
     align-items: center;
     flex-direction: column;
     border-radius: 13px;
     img{
      padding-bottom: 20px;
     }
      }
    }

@media(max-width: 1100px){
  .boxCard{ article{ width: 16vw; h3{font-size: 17px;  } p{font-size: 14px}}}
}
